<p class="term-title">Conditions</p>
<p class="term-body">Your quote is valid for 30 days.</p>
<p class="term-body">This policy is underwritten by OpenUnderwriter and is based on
	the information you provided online. Whilst we are not able to make a
	specific recommendation for this policy, we can confirm that it will
	meet the needs of your business based on the information you have
	provided. A copy of your quotation, policy wording and our terms of
	business have been emailed to you.</p>
